<mat-card>
  <mat-card-content>
    <a routerLink = "" >Items</a>-
    <a routerLink = "/login" >Login</a>
    <span>&nbsp;</span>
    <button (click)="logout()" *ngIf="authService.user | async">
      Logout
    </button> 
  </mat-card-content>
</mat-card> 
